@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <th>Full Name</th>
                <th>Last Logged In</th>
                <th>Presence</th>
                <th>Is Online</th>
                <th>Grade</th>
                <th>Diamonds</th>
                <th>Comment</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @for (var i = 0; i < Model.Students.Count; i++)
            {
                <input type="hidden" asp-for="@Model.Students[i].Id"/>
                <tr>
                    @*@Html.Partial("StudentRow.cshtml", new StudentRowModel() { Student = Model.Students[i] });*@
                    <partial name="StudentRow.cshtml" model="@Model.Students[i]"/>
                    <td>
                        <a asp-page="UpdateStudent" asp-route-id="@Model.Students[i].Id">Edit</a>
                        <a asp-page-handler="DeleteStudent" asp-route-id="@Model.Students[i].Id">Delete</a>
                    </td>
                </tr> 
            }
           
            </tbody>
        </table>
        <input type="submit" value="Save Changes" class="btn btn-primary"/>
    </form>
    <a asp-page-handler="AddStudent">Add Student</a>
</div>